## CMPINF 2110 Spring 2021 - Week 10

Help with loading in data to Neo4j -- NorthWind Example.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import seaborn as sns

## Orders Table

In [2]:
url_orders = 'https://raw.githubusercontent.com/neo4j-documentation/developer-resources/gh-pages/data/northwind/orders.csv'

orders = pd.read_csv( url_orders )

In [3]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2155 entries, 0 to 2154
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   OrderID         2155 non-null   int64
 1   CustomerID      2155 non-null   object
 2   EmployeeID      2155 non-null   int64
 3   OrderDate       2155 non-null   object
 4   RequiredDate    2155 non-null   object
 5   ShippedDate     2082 non-null   object
 6   ShipVia         2155 non-null   int64
 7   Freight         2155 non-null   float64
 8   ShipName        2155 non-null   object
 9   ShipAddress     2155 non-null   object
 10  ShipCity        2155 non-null   object
 11  ShipRegion      856 non-null    object
 12  ShipPostalCode  2100 non-null   object
 13  ShipCountry     2155 non-null   object
 14  OrderID.1       2155 non-null   int64
 15  ProductID       2155 non-null   int64
 16  UnitPrice       2155 non-null   float64
 17  Quantity        2155 non-null   int64
 18  Discount        2155 non-null   float64
dtypes: float64(3), int64(6), object(10)
memory usage: 320.0+ KB

In [4]:
orders

,OrderID,CustomerID,EmployeeID,OrderDate,RequiredDate,ShippedDate,ShipVia,Freight,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry,OrderID.1,ProductID,UnitPrice,Quantity,Discount
0,10248,VINET,5,1996-07-04,1996-08-01,1996-07-16,3,32.38,Vins et alcools Chevalier,59 rue de l'Abbaye,Reims,NaN,51100,France,10248,11,14.00,12,0.00
1,10248,VINET,5,1996-07-04,1996-08-01,1996-07-16,3,32.38,Vins et alcools Chevalier,59 rue de l'Abbaye,Reims,NaN,51100,France,10248,42,9.80,10,0.00
2,10248,VINET,5,1996-07-04,1996-08-01,1996-07-16,3,32.38,Vins et alcools Chevalier,59 rue de l'Abbaye,Reims,NaN,51100,France,10248,72,34.80,5,0.00
3,10249,TOMSP,6,1996-07-05,1996-08-16,1996-07-10,1,11.61,Toms Spezialitäten,Luisenstr. 48,Münster,NaN,44087,Germany,10249,14,18.60,9,0.00
4,10249,TOMSP,6,1996-07-05,1996-08-16,1996-07-10,1,11.61,Toms Spezialitäten,Luisenstr. 48,Münster,NaN,44087,Germany,10249,51,42.40,40,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2150,11077,RATTC,1,1998-05-06,1998-06-03,NaN,2,8.53,Rattlesnake Canyon Grocery,2817 Milton Dr.,Albuquerque,NM,87110,USA,11077,64,33.25,2,0.03
2151,11077,RATTC,1,1998-05-06,1998-06-03,NaN,2,8.53,Rattlesnake Canyon Grocery,2817 Milton Dr.,Albuquerque,NM,87110,USA,11077,66,17.00,1,0.00
2152,11077,RATTC,1,1998-05-06,1998-06-03,NaN,2,8.53,Rattlesnake Canyon Grocery,2817 Milton Dr.,Albuquerque,NM,87110,USA,11077,73,15.00,2,0.01
2153,11077,RATTC,1,1998-05-06,1998-06-03,NaN,2,8.53,Rattlesnake Canyon Grocery,2817 Milton Dr.,Albuquerque,NM,87110,USA,11077,75,7.75,4,0.00
2154,11077,RATTC,1,1998-05-06,1998-06-03,NaN,2,8.53,Rattlesnake Canyon Grocery,2817 Milton Dr.,Albuquerque,NM,87110,USA,11077,77,13.00,2,0.00

In [5]:
orders.nunique()

OrderID           830
CustomerID         89
EmployeeID          9
OrderDate         480
RequiredDate      454
ShippedDate       387
ShipVia             3
Freight           799
ShipName           90
ShipAddress        89
ShipCity           70
ShipRegion         19
ShipPostalCode     84
ShipCountry        21
OrderID.1         830
ProductID          77
UnitPrice         116
Quantity           55
Discount           11
dtype: int64

In [6]:
orders.isna().sum()

OrderID              0
CustomerID           0
EmployeeID           0
OrderDate            0
RequiredDate         0
ShippedDate         73
ShipVia              0
Freight              0
ShipName             0
ShipAddress          0
ShipCity             0
ShipRegion        1299
ShipPostalCode      55
ShipCountry          0
OrderID.1            0
ProductID            0
UnitPrice            0
Quantity             0
Discount             0
dtype: int64